
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

a:hover{
    cursor: cell;
}

select{
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

body{
    background-color: #777777;

    .btn{
        width: 200px;
        height: 60px;
        text-decoration: none;
        color: #25df3e;
        background: none;
        border: 4px solid;
        font-weight: 700;
        text-transform: uppercase;
        cursor: pointer;
        font-size: 16px;
        position: relative;
    }

    .btn:hover{
        background-color: #707070
    }

    .btn::before, .btn::after{
        content: "";
        position: absolute;
        width: 14px;
        height: 4px;
        background: #777777;
        transform: skewX(50deg);
        transition: 400ms linear;
    }

    .btn::before{
        top: -4px;
        left: 10%;
    }

    .btn::after{
        bottom: -4px;
        right: 10%;
    }

    .btn:hover::before{
        left: 80%;
    }

    .btn:hover::after{
        right: 80%;
    }

    #mainHeader{

        ul{
            flex-basis: 100%;
            justify-items: center;
            flex-direction: row;
            display: flex;
            margin: 20px;

            li{
                flex: 1;
                text-align: center;
            }
        }
    }

    #mainImage{
        background-image: url("../../dist/imgs/BitHeroes.png");
        background-repeat: no-repeat;
        background-position: center;
        background-color: #444444;
        background-clip: content-box;
        height: 730px;

        margin: 20px 0;
    }

    .links{

        ul{
            width: 75%;
            margin-left: 12.5%;
            display: flex;
            flex-direction: row;
            justify-items: center;
            justify-content: center;
            margin: auto;
            height: 3em;

            li{
                font-size: 1.2em;
                justify-content: center;
                margin: auto;
                text-align: center;
                height: 2vh;
                width: auto;
            }
        }

        
    }

    //filter area
    #selector{
        display: flex;
        justify-content: left;
        padding: 10px;
        margin: 5px auto;

        //Search by: text
        p{
            font-size: 20px;
            margin: auto 5px;
            color: rgb(28, 223, 158);
        }

        //select option backgrounds
        option{
            background-color: #777777; 
        }

        //bonus selector dropdown dividers
        #divider{
            color: #fff;
        }

        //searchbox around mode selector
        .search{
            display: flex;
            flex-wrap: nowrap;
            padding: 0 5px;
            margin: 0 5px;
            border: 2px solid rgb(28, 223, 158);
        }

        .search:hover{
            background-color: #686868;
        }

        //mode select option and bonusstat selector option
        //search id and bonusSearch id
        #search, #bonusSearch{
            background: none;
            border: none;
            color: rgb(28, 223, 158);
            text-align: center;
            // width: 175px;
            padding: 10px;
            margin: 0 5px;
            font-size: 20px;
            flex: 1;
        }

        //box around bonus stat selector area
        .bonus{
            display: flex;
            flex-wrap: nowrap;
            border: 2px solid rgb(28, 223, 158);
            margin: 0 5px;
            padding: 0 5px;
        }

        .bonus:hover{
            background-color: #686868;
        }

        //text entry and bonus selector boxes
        .searchbar{
            width: 15%;
            background: none;
            border: 2px solid rgb(28, 223, 158);
            color: rgb(28, 223, 158);
            font-size: 18px;
            padding: 0 5px;
            margin: 0 5px;
        }

        //search button to filter table
        #searchbtn{
            height: auto;
            color: rgb(28, 223, 158);
            border: 2px solid;
            margin: 0 5px;
        }

        //clear button to reset table
        #clearbtn{
            margin-left: auto;
            height: auto;
            color: #e06737;
            border: 2px solid;
        }

        //down arrows replacing inline ones
        i{
            margin: auto 0;
            padding: 0 5px;
            color: rgb(28, 223, 158);
        }

        #checkboxes{
            display: grid;
            grid-template-rows: auto auto;
            margin-left: 50px;
            padding: 2px;
            border: dashed 1px rgb(28, 223, 158); 

            .common{
                grid-row: 1;
                border: solid 3px #4ad37a;
                display: flex;
                padding: 1px 4px;
                margin: 1px 2px;
                width: 130px;
                #common{
                    text-align: center;
                    width: 100%;
                }
            }

            .rare{
                grid-row: 1;
                border: solid 3px #8687E1;
                display: flex;
                padding: 1px 4px;
                margin: 1px 2px;
                width: 130px;
                #rare{
                    text-align: center;
                    width: 100%;
                }
            }

            .epic{
                grid-row: 1;
                border: solid 3px #FC7E77;
                display: flex;
                padding: 1px 4px;
                margin: 1px 2px;
                width: 130px;
                #epic{
                    text-align: center;
                    width: 100%;
                }
            }

            .legendary{
                grid-row: 2;
                border: solid 3px #F7F72A;
                display: flex;
                padding: 1px 4px;
                margin: 1px 2px;
                width: 130px;
                #legendary{
                    text-align: center;
                    width: 100%;
                }
            }

            .mythic{
                grid-row: 2;
                border: solid 3px #E4094A;
                display: flex;
                padding: 1px 4px;
                margin: 1px 2px;
                width: 130px;
                #mythic{
                    text-align: center;
                    width: 100%;
                }
            }

            .btn{
                width: auto;
                height: auto;
                color: #4faeec;
                padding: 1px 4px;
                margin: 1px 2px;
                border: 3px solid;
            }
        }
    }
    

    #fusions{
        margin: 10px auto;
        padding: 5px;
        width: 100%;
        
        #fusionTable{
            width: 100%;
            border: 1px solid black;
            border-bottom: 0px;
            display: grid;
            grid-template-columns: 50px auto 18px 5% 10% 10% 10% 10% 10% 10%;
            min-width: 1000px;
            padding: 7px 5px;
        
            #fusionImage{
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                grid-row: 1 / 4;
            }

            #fusionName, #bonusStat, #fusionFams{
                text-align: center;
                word-wrap: normal;
            }

            #atkImage, #hpImage, #agiImage{
                background-repeat: no-repeat;
                background-position: center;
            }

            #atkValue, #hpValue, #agiValue{
                text-align: center;
            }

            #skill1, #target1, #damage1{
                text-align: center;
            }

            #skill2, #target2, #damage2{
                text-align: center;
            }

            #skill3, #target3, #damage3{
                text-align: center;
            }

            #skill4, #target4, #damage4{
                text-align: center;
            }

            #skill5, #target5, #damage5{
                text-align: center;
            }

            #skill6, #target6, #damage6{
                text-align: center;
            }
        }

        #fusionTable:last-child{
            border-bottom: 1px solid black;
        }
    }   

}

@media(max-width: 800px){
    body{
        #mainImage{
            height:400px;
            background-position: 50% 39%;
        }

        .links{
            ul{
                flex-direction: column;
                flex-wrap: wrap;
                li{
                    margin: 10px;
                    height: 2vh;
                }
            }
        }
    }
}

@media(min-width: 1040px){
    body{

        #fusions{
            width: 90%;
        }
    }
}