
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

a:hover{
    cursor: cell;
}

body{
    background-color: #aaaaaa;
    #mainHeader{

        ul{
            flex-basis: 100%;
            justify-items: center;
            flex-direction: row;
            display: flex;
            margin: 20px;

            li{
                flex-basis: 25%;
                text-align: center;
            }
        }
    }

    #mainImage{
        background-image: url("/dist/imgs/BitHeroes.png");
        background-repeat: no-repeat;
        background-position: center;
        background-color: red;
        background-clip: content-box;
        height: 730px;

        margin: 20px 0;
    }

    .links{

        ul{
            width: 75%;
            margin-left: 12.5%;
            display: flex;
            flex-direction: row;
            justify-items: center;
            justify-content: center;
            margin: auto;
            height: 3em;

            li{
                font-size: 1.2em;
                justify-content: center;
                margin: auto;
                text-align: center;
                height: 2vh;
                width: auto;
            }
        }
    }

    #fusions{
        margin: 10px auto;
        padding: 5px;
        width: 90%;
        
        #fusionTable{
            width: 100%;
            border: 1px solid black;
            border-bottom: 0px;
            display: grid;
            grid-template-columns: 50px 3fr 18px 5% 10% 10% 10% 10% 10% 10%;
        
            #fusionImage{
                background-repeat: no-repeat;
                background-position: center;
                grid-row: 1 / 4;
                grid-column: 1;
            }

            #fusionName, #atkImage, #atkValue, #skill1, #skill2, #skill3, #skill4, #skill5, #skill6 {
                grid-row: 1;
            }

            #bonusStat, #hpImage, #hpValue, #target1, #target2, #target3, #target4, #target5, #target6 {
                grid-row: 2;
            }

            #fusionFams, #agiImage, #agiValue, #damage1, #damage2, #damage3, #damage4, #damage5, #damage6 {
                grid-row: 3;
            }

            #fusionName, #bonusStat, #fusionFams{
                text-align: center;
                word-wrap: normal;
                grid-column: 2;
            }

            #atkImage, #hpImage, #agiImage{
                grid-column: 3;
            }

            #atkValue, #hpValue, #agiValue{
                grid-column: 4;
            }

            #skill1, #target1, #damage1{
                text-align: center;
                grid-column: 5;
            }

            #skill2, #target2, #damage2{
                text-align: center;
                grid-column: 6;
            }

            #skill3, #target3, #damage3{
                text-align: center;
                grid-column: 7;
            }

            #skill4, #target4, #damage4{
                text-align: center;
                grid-column: 8;
            }

            #skill5, #target5, #damage5{
                text-align: center;
                grid-column: 9;
            }

            #skill6, #target6, #damage6{
                text-align: center;
                grid-column: 10;
            }
        }

        #fusionTable:last-child{
            border-bottom: 1px solid black;
        }
    }   

}

@media(max-width: 800px){
    body{
        #mainImage{
            height:400px;
            background-position: 50% 39%;
        }

        .links{
            ul{
                flex-direction: column;
                flex-wrap: wrap;
                li{
                    margin: 10px;
                    height: 2vh;
                }
            }
        }
    }
}